@model GraduationProject.ViewModels.WorkshopViewModel

@{
    ViewBag.Title = "AddWorkshop";
}
<link rel="stylesheet" href="~/Content/layout_style.css" />
<link rel="stylesheet" href="~/Content/animate.min.css" />
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<div class="container col-lg-12">
   

    <div class="main__form tst col-lg-12 col-md-10 col-sm-9">
        @using (Html.BeginForm("AddWorkshop", "TalentedUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(m => m.workshop_Name)
                @Html.TextBoxFor(m => m.workshop_Name, new { @class = "form-control", @placeholder = "Workshop Name" })

            </div>

            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(m => m.workshop_Date)
                @Html.TextBoxFor(m => m.workshop_Date, new { id = "input-date", @class = "form-control", type = "date" })

            </div>

            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(m => m.workshop_Location)
                @Html.TextBoxFor(m => m.workshop_Location, new { @class = "form-control", @placeholder = "Workshop Location" })


            </div>

            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(m => m.workshop_Sessions)
                @Html.TextBoxFor(m => m.workshop_Sessions, new { @class = "form-control", @placeholder = "Number Of Sessions" })


            </div>

            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(m => m.workshop_Fees)
                @Html.TextBoxFor(m => m.workshop_Fees, new { @class = "form-control", @placeholder = "Workshop Fees" })


            </div>
            <div class="form-group col-lg-12">

                @Html.LabelFor(m => m.SelectVal, "Tags ")


                <input type="hidden" id="textBoxVal" />

                <select class="mySelect2" multiple style="width :480px;" name="SelectVal" id="SelectVal" required></select>

            </div>

                                                    <div class="form-group col-md-6 col-sm-12">
                                                        @Html.LabelFor(m => m.workshop_Description)
                                                        @Html.TextAreaFor(m => m.workshop_Description, new { id = "comment", @class = "form-control", @rows = 5 })


                                                    </div>

                                                    <div class="clearfix"></div>
                                                    <button type="submit" class="btn btn-default publishbtn col-sm-offset-5 col-sm-1">Publish</button>
                                                    <div class="clearfix"></div>

        }
    </div>



</div>

@Html.Action("DisplayWorkshop")





<script>
            $(document).ready(function () {
                $(".mySelect2").select2({
                    placeholder: "",
                    allClear: true,
                    theme: "classic",
                    ajax:
                    {
                        url: "/TalentedUser/GetTags",
                        dataType: 'json',
                        delay: 250,
                        data: function (Params) {
                            return {
                                SearchTerm: Params.term
                            };
                        },
                        processResults: function (data, Params) {
                            return {
                                results: data
                            };
                        }
                    }
                });
            });


</script>


       
<script src="~/Scripts/select2.min.js"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


