@model GraduationProject.ViewModels.TalentedUserViewModel

@{
    Layout = "";
}
<!-- start about me section -->
@foreach (var item in Model.TalentedUser)
{
    <div class="container col-lg-12  under_space">



        <div class="col-lg-12 ">

            <p class="display_data">
                <span class=" s"> First Name: </span>
                @item.TU_FirstName

            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s"> Last Name: </span>
                @item.TU_LastName
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s">  Email : </span>
                @item.TU_Email
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s">  Date Of Birth: </span>
                @item.TU_DOB.ToString()
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s"> School : </span>
                @item.TU_School
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s">  Degree : </span>
                @item.TU_Degree
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s"> Language : </span>
                @item.TU_Language
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s"> ProfiencyLevel : </span>
                @item.TU_ProfiencyLevel
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s">  Gender : </span>
                @item.TU_Gender
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s">  Nationality : </span>
                @item.TU_Nationality
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s">  SelfDescription : </span>

                @item.TU_SelfDescription
            </p>
        </div>
        <div class="col-lg-12">
            <p class="display_data">
                <span class="s"> Skills : </span>
                @item.TU_Skills
            </p>
        </div>

        <div class="col-lg-12">
            <i class="glyphicon glyphicon-tags"> </i>

            <span class="s"> Tags : </span>

            @{foreach (var postTag in Model.AboutMeTagsUserTable)
                {


                    if (item.TalentedId == postTag.User.Id)
                    {
                        <a href="#"><span class="label label-info">@postTag.Tags.Name</span></a>

                    }
                }
            }

        </div>
        <button class="btn btn-default col-xs-offset-11" onclick="location.href='@Url.Action("EditProfile", "TalentedUser")'">Edit</button>


        <div class="clearfix"></div>
    </div>
                }






<div class="clearfix"></div>
<!-- end about me section -->
